 <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

  <div class="form-group">
    <label>Current Password</label>

    <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
           mongoose-error
           ng-disabled="user.facebook"
           required/>
    <p class="help-block" ng-show="form.password.$error.mongoose">
        {{ errors.other }}
    </p>
    <p class="help-block" ng-show="form.password.$error.required && submitted">
      Please input old password
    </p>
  </div>

  <div class="form-group">
    <label>New Password</label>

    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
           ng-minlength="3"
           ng-disabled="user.facebook"
           required/>
    <p class="help-block"
       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
      Password must be at least 3 characters.
    </p>
  </div>

  <hr />

  <div class="form-group">
    <button class="btn btn-lg btn-danger" type="submit">Change password</button>
    <p class="help-block"> {{ message }} </p>
  </div>
</form>
