<link rel="stylesheet" href="entry/entry.scss">

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{entry.description}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <video ng-src="{{entry.video}}" controls style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>Share</li>
        <li>
          <a href="#"
            socialshare
            socialshare-provider="facebook"
            socialshare-text="Mapn"
            socialshare-media="{{getUrl(entry.video)}}"
            socialshare-url="{{getUrl(page)}}">
            <button class="btn btn-md btn-default">
              <i class="fa fa-facebook-official"></i>
              Facebook
            </button>
          </a>
        </li>
       </ul>
    </div>
  </div>
</div>
