<link rel="stylesheet" href="entry/entry.scss">
<meta property="og:image"
content="{{getUrl(entry.thumbnail)}}" />

<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{entry.description}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <video ng-src="{{entry.video}}" controls style="width:100%">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline share">
        <li><h5>Share</h5></li>
        <li>
          <a href="#"
            socialshare
            socialshare-provider="facebook"
            socialshare-type="feed"
            socialshare-via="747888788691053"
            socialshare-to=""
            socialshare-from=""
            socialshare-ref=""
            socialshare-display="popup"
            socialshare-media="{{getUrl(entry.video)}}"
            socialshare-source=""
            socialshare-description="{{entry.description}}"
            socialshare-text="{{entry.description}}"
            socialshare-picture="{{getUrl(entry.thumbnail)}}"
            socialshare-caption="Mapn"
            socialshare-url="{{getUrl(page)}}"
            socialshare-redirect-uri="{{getUrl(page)}}">
            <button class="btn btn-md btn-default">
              <i class="fa fa-facebook-official"></i>
              Facebook
            </button>
          </a>
        </li>
        <li>
          <a href="#"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="{{getText(entry.description)}}"
            socialshare-url="{{getUrl(page)}}">
            <button class="btn btn-md btn-default">
              <i class="fa fa-twitter"></i>
              Twitter
            </button>
          </a>
        </li>
        <li>
          <a href="#"
            socialshare
            socialshare-provider="pinterest"
            socialshare-text="{{getText(entry.description)}}"
            socialshare-media="{{getUrl(entry.thumbnail)}}"
            socialshare-url="{{getUrl(page)}}">
            <button class="btn btn-md btn-default">
              <i class="fa fa-pinterest"></i>
              Pinterest
            </button>
          </a>
        </li>
         <li>
          <a href="#"
            socialshare
            socialshare-provider="tumblr"
            socialshare-text="{{getText(entry.description)}}"
            socialshare-media="{{getUrl(entry.video)}}"
            socialshare-url="{{getUrl(page)}}">
            <button class="btn btn-md btn-default">
              <i class="fa fa-tumblr"></i>
              Tumblr
            </button>
          </a>
        </li>
       </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-danger" ng-click="delete()">
        <i class="fa fa-trash"></i>
        <span class="hidden-sm">Delete</span>
      </button>
    </div>
    <div class="col-sm-9">
      <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
    </div>
  </div>
</div>
