// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

$btnFacebookBackground:             #3B5998;
$btnFacebookBackgroundHighlight:    #133783;
$btnGithubBackground:               #fafafa;
$btnGithubBackgroundHighlight:      #ccc;

// Social buttons
// --------------------------------------------------

.btn-facebook {
  @include button-variant($btnText, $btnFacebookBackgroundHighlight, $btnFacebookBackgroundHighlight);
}
.btn-github {
  @include button-variant($btnTextAlt, $btnGithubBackground, $btnGithubBackgroundHighlight);
}

.biz-free {
	color: grey;
	text-align: center;
	font-style: italic;
	font-family: "Verdana", Geneva, sans-serif;
	padding-top: 10px;
}

.border {
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #D66900;
	padding: 35px;
	margin-top: 25px;
}

.sep {
	height: 1px;
	background-color: lightgrey;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.sep2 {
	color: grey;
	background-color: white;
	position: relative;
	top: -0.5em;
	font-family: "Verdana", Geneva, sans-serif;
	padding: 10px;
}
