<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Login to Mapn</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 border">
      <form class="form-horizontal" name="form" ng-submit="login(form)" novalidate>

        <div class="form-group text-center">
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Login with Facebook
          </a>
        </div>

        <div class="sep">
          <span class="sep2">
            OR
          </span>
        </div>

        <div class="form-group"
             ng-class="{ 'has-success': form.email.$valid && form.email.$dirty, 'has-error': form.email.$invalid && form.email.$dirty}"
        >
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" id="email" placeholder="Email"
              class="form-control" ng-model="user.email" required mongoose-error>
            <p class="help-block" ng-show="form.email.$error.email && form.email.$dirty">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>
        </div>

        <div class="form-group"
            ng-class="{ 'has-success': form.password.$valid && form.password.$dirty,
                      'has-error': form.password.$invalid && form.password.$dirty }"
        >
          <label for="email" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" placeholder="Password" class="form-control"
                    ng-model="user.password"
                    ng-minlength="3"
                    required
                    mongoose-error>

            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && form.passport.$dirty">
               Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
               {{ errors.password }}
            </p>
          </div>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div class="text-center">
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Login
          </button>
        </div>

      </form>
    </div>
    <div class="col-sm-6 col-sm-offset-3 account">
      <p>New to mapn? <a class="btn btn-primary btn-sm" href="/signup"> Create an account</a></p>
    </div>
  </div>
</div>
