

<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row" style="padding-bottom:30px;">
    <div class="col-md-10">
    <h2>{{error}}</h2>
      <div class = "col-sm-3">
        <img class="img-circle img-responsive" src = "{{pin.thumbnail}}"
             style="max-width: 300px; margin: 0 auto">
      </div>
      <div class = "col-sm-6">
        <h1> {{pin.name}} </h1>
      </div>
      <div class="col-sm-3 bounty" ng-show="pin.bounty">
      <h3>Bounty</h3>
      {{pin.bounty.description}}
      </div>
    </div>
  </div>
<div class="table">

  <!-- Video Section -->
  <div class="row" style="padding-bottom:10px;">
    <div class="col-xs-7 col-sm-10" style="padding-left:10px;">
       <font size="4">Videos</font>
    </div>
    <!-- Upload button -->
    <!-- Filter Search -->
    <div class="col-xs-2 col-sm-1">
      <button class="btn btn-primary"
             type="file"
             ngf-select="addItem($file, $invalidFiles)"
             ngf-capture="'camera'"
             ngf-pattern="'video/*'"
             ngf-max-size="10MB"
             ngf-max-duration="15"
             ng-disabled="!isLoggedIn">
        <i class="fa fa-video-camera"></i>
      </button>
    </div>
    <div class="col-xs-3 col-sm-1">
      <button class="btn btn-primary" type="button" ng-click="addItem()"  >
          Filter
        <span aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <!-- Likes -->
    <div class="col-sm-3"  style="text-align:center; margin-bottom:10px;" ng-repeat="module in pin.entries">
      <div class="outer" ng-style="{'background-image':'url({{module.thumbnail}})'}">
        <a href="#" ng-click="openEntry(module)" style="display:block">
          <img src="assets/images/blank.png" style="height:95px">
        </a>
        <div class="inner">
          <button type="button" ng-click="like(module)" >
			    <h2 ng-class="{'text-success': module.score == 1}"><i class="fa fa-chevron-up"></i>
              {{module.likes}}</h2>
          </button>
          <button type="button" ng-click="dislike(module)">
              <h2 ng-class="{'text-danger': module.score == -1}"><i class="fa fa-chevron-down"></i>
              {{module.dislikes}}</h2>
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
