/* Orange * /

$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; 

/* --- Style --- */
.navbar-default {
    background-color: #e67e22;
    border-color: #d35400;
    
}