

<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row">
    <div class="col-md-10">
    <h2>{{error}}</h2>
      <div class = "col-sm-6">
        <img class="img-circle" src = "/assets/images/cheese.png" alt= "failed"
       	style = "width:200px;height:200px; float:right;">
      </div>  
      <div class = "col-sm-6">
        <h1> {{pin.name}} </h1>
        <p>{{pin.description}} </p>
      </div>
    </div>
  </div>
<div class="table">
  <div class="row">
    <div class="col-lg-12 ">
      <p></p>
    </div>
  </div>  
  <!-- Video Section -->
  <div class="row">
    <!--  -->
    <div class="col-sm-9">
       <font size="4">Videos</font>
    </div>
    <!-- Upload button -->
    <!-- Filter Search -->
    <div class="col-sm-3">
      <button class="btn btn-primary" type="button" ng-click="addItem()" style= "float:right" >
          Upload
        <span aria-hidden="true"></span>
      </button>
      <button class="btn btn-primary" type="button" ng-click="addItem()" style= "float:right" >
          Filter
        <span aria-hidden="true"></span>
      </button>
    </div>
    
    <pre>{{pin | json}}</pre>s
    
    <!-- Likes -->
    <div class="col-sm-3" style="text-align:center;" ng-repeat="module in pin.entries">
      <div class="outer">
        <div class="inner">
          <button type="button" ng-click="like()" >
              <h2><i class="fa fa-chevron-up"></i>
              {{pin.entries.likes}}</h2>
          </button>
          <button type="button" ng-click="dislike()" >
              <h2><i class="fa fa-chevron-down"></i>
              {{countDislike}}</h2>
          </button>
        </div>
      </div>
    </div>
    <!-- 7 Videos -->
    <!-- 3 Videos -->
    <!--
    <div class="col-sm-3 col-xs-6">
      <img src="/assets/images/demo.png" alt="demo"
      style = "width:260px; height:150px;">
      <div class="caption">
        <font size="4"> Title</font>
      </div>
    </div>
    -->
  </div>
  </div>
</div>
