<link rel="stylesheet" href="navbar/navbar.scss">

<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
     <div class="navbar-header">
    <div class="company-name">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}"><span>mapn</span></a></li> 
    </div>
    </div>
    <div ng-show="isLoggedIn()">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle" class="menu-icon">&#9776;</label>
      <nav class="menu">
        <ul>
          <li ng-show="isAdmin()" id="title">ADMINISTRATION</li>
            <li ng-show="isAdmin()"><a href="/admin">Manage Users</a></li>
            <li ng-show="isAdmin()"><a href="#">Manage Pins</a></li>
          <li ng-show="isBusiness()" id="title">MY BUSINESS</li>
            <li ng-show="isBusiness()"><a href="/analytics">My Pins</a></li>
            <li ng-show="isBusiness()"><a href="#">Claim Pins</a></li>
          <li ng-show="isLoggedIn()" id="title">MY STUFF</li>
            <li ng-show="isLoggedIn()"><a href="/settings">Account Settings</a></li>
            <li ng-show="isLoggedIn()"><a href="#">My Money</a></li>
            <li ng-show="isLoggedIn()"><a href="#">Send Feedback</a></li>
          <div ng-show="isLoggedIn()" id="signout_button">
          <li id="signout"><a href="" ng-click="logout()">Sign Out</a></li> 
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
