.logo {
    max-width: 50px;
    max-height: 50px;
}

.navbar-mapn {
    background-color: $color-primary;
    border-bottom-color: darken($color-primary,5%);
    color: #ddd;

    .dropdown-menu {
      background-color: $color-primary;
      color: #ddd;

      a {
          color: #eee;
          background: none;

          &:hover,
          &:focus {
            background-color: lighten($color-primary,10%);
            color: #fff;
          }
      }
    }

    .navbar-brand {
      // background-color: lighten($color-primary, 10%);
      color: #fff;
      font-weight: bold;
      padding: 5px;

      img {
        height: 45px;
        margin-right: 5px;
      }
    }

    .navbar-toggle {
      padding-top: 4px;
    }

    .navbar-nav > li > a {
      color: #FFF;

      .nav {
        .open > a {
          &,
          &:hover,
          &:focus {
            background-color: lighten($color-primary,10%);
            border-color: $link-color;
          }
        }
      }

      &:hover, &:focus {
        background-color: lighten($color-primary,10%);
      }
    }
}
