<link rel="stylesheet" href="navbar/navbar.scss">
<nav class="navbar navbar-mapn navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">
         <img src="assets/images/logo.png" alt="mapn"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="main-nav" collapse="navbarCollapsed">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
        <li ng-show="isBusiness()"><a href="/analytics">My Business</a></li>
        <li ng-show="isLoggedIn()"><a href="#">My Videos</a></li>
        <li ng-show="isLoggedIn()"><a href="#">My Bounty</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()"><a href="/login">Login</a></li>
        <li ng-hide="isLoggedIn()"><a href="/signup">Signup</a></li>
        <li class="dropdown" ng-if="isLoggedIn()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Administration</a></li>
            <li ng-class="{active: isActive('/settings')}"><a href="/settings">Account Settings</a></li>
            <li><a href="mailto:feedback@mapn.mobi?Subject=[USER]%20Feedback">Send Feedback</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="logout()">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">

    <div class="navbar-header">
      <div class="company-name">
        <img src="assets/images/logo.png"/>
        <a ng-href="/"><span>mapn<span></a>
      </div>
    </div>
    <div ng-show="isLoggedIn()">
      <input type="checkbox" id="menuToggle">
      <label for="menuToggle" class="menu-icon">
        <i class="fa fa-bars"></i>
      </label>
      <nav class="menu">
        <ul>
          <li ng-show="isLoggedIn()" id="title">user {{user}}</li>
          <li ng-show="isAdmin()" id="title">ADMINISTRATION</li>
          <li ng-show="isAdmin()"><a href="/admin">Manage Users</a></li>
          <li ng-show="isAdmin()"><a href="#">Manage Pins</a></li>
          <li ng-show="isBusiness()" id="title">MY BUSINESS</li>
          <li ng-show="isBusiness()"><a href="/analytics">My Pins</a></li>
          <li ng-show="isBusiness()"><a href="#">Claim Pins</a></li>
          <li ng-show="isLoggedIn()"><a href="/settings">Account Settings</a></li>
          <li ng-show="isLoggedIn()"><a href="#">My Money</a></li>
          <li ng-show="isLoggedIn()"><a href="#">Send Feedback</a></li>
          <div ng-show="isLoggedIn()" id="signout_button">
          <li id="signout"><a href="" ng-click="logout()">Sign Out</a></li>
          </div>
        </ul>
      </nav>
    </div>

    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
       <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
      </ul>
  </div>
</div>
 -->
