body,html {
  height: 100%;
}

#main-map .angular-google-map-container {
    height: 85vh;
}

.navbar-text {
  margin-left: 15px;
}

.profile-photo {
  height: 100px;
  width: 100px;
  border-radius:100px;
}
