<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Create a Mapn account</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 border">

    <div class="text-center">
      <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </a>
    </div>

    <div class="sep">
      <span class="sep2">
        OR
      </span>
    </div>

      <form class="form-horizontal" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group"
          ng-class="{ 'has-success': form.firstname.$valid && form.lastname.$valid && form.firstname.$dirty && form.lastname.$dirty, 'has-error': (form.firstname.$invalid || form.lastname.$invalid) && (form.lastname.$dirty || form.firstname.$dirty)}"
        >
          <label for="firstname" class="col-sm-2 control-label">Name</label>
          <div class="controls form-inline col-sm-10">
            <input type="text" name="firstname" placeholder="First Name" class="form-control" ng-model="user.firstname"
                 required/>

            <input type="text" name="lastname" placeholder="Last Name" class="form-control" ng-model="user.lastname"
                 required/>

            <p class="help-block" ng-show="(form.firstname.$invalid && form.firstname.$dirty) || (form.lastname.$invalid && form.lastname.$dirty)">
              A first and last name is required
            </p>
          </div>
        </div>

        <!-- <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
                                            'has-error': form.phone.$invalid && submitted }">

          <input type="tel" name="phone" placeholder="Phone Number" class="form-control" ng-model="user.phone"
                 ng-pattern="/^(\([2-9]\d{2}\)\s?|[2-9]\d{2}-?)\d{3}-?\d{4}$/"
                 mongoose-error/>
          <p class="help-block"
              ng-show="form.phone.$error.pattern && submitted">
              Doesn't look like a valid phone number.
          </p>
          <p class="help-block" ng-show="form.phone.$error.required && submitted">
              What's your phone number?
          </p>
          <p class="help-block" ng-show="form.phone.$error.mongoose">
              {{ errors.phone }}
          </p>
        </div> -->

        <div class="form-group"
          ng-class="{ 'has-success': form.email.$valid && form.email.$dirty, 'has-error': form.email.$invalid && form.email.$dirty}"
        >
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" name="email" id="email"
                  placeholder="Email" class="form-control" ng-model="user.email"
                  required
                  mongoose-error/>
            <p class="help-block" ng-show="form.email.$error.email && form.email.$dirty">
                Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && form.email.$dirty">
                What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose && form.email.$dirty">
                {{ errors.email }}
            </p>
          </div>
        </div>

        <div class="form-group"
          ng-class="{ 'has-success': form.password.$valid && form.password.$dirty,
                      'has-error': form.password.$invalid && form.password.$dirty }"
        >
          <label for="password" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"
                  ng-minlength="3"
                  required
                  mongoose-error/>

            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && form.email.$dirty">
               Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
               {{ errors.password }}
            </p>
          </div>
        </div>

        <div class="form-group"
          ng-class="{ 'has-success': !form.$error.recaptcha && submitted, 'has-error': form.$error.recaptcha && submitted }"
        >
          <div class="col-sm-10 col-sm-offset-2">
            <div
                vc-recaptcha
                key="'6LfkGBETAAAAAIwZM9bttMwOLMp98BthWtMQ2Wrr'"
                on-create="rcCreate(widgetId)"
                on-success="rcResponse(response)"
                on-expire="rcExpiration()"
            ></div>
            <p class="help-block" ng-show="form.$error.recaptcha && submitted">
              You must solve the captcha
            </p>
          </div>
        </div>

        <div class="from-group text-center">
          <button class="btn btn-primary btn-lg btn-login" type="submit">
            Create account
          </button>
        </div>
      </form>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
      <p class="account">Own a business? <a href="/biz">Create a business account</a>.</p>
    </div>
  </div>
</div>
