.biz-free {
	color: black;
	text-align: center;
	font-family: "HoneyScript", Helvetica, sans-serif;
	padding-top: 10px;
}

.border {
	border-radius: 25px;
	border-style: solid;
	border-width: 2px;
	border-color: #D66900;
	padding: 35px;
	margin-bottom: 75px;
	margin-top: 25px;
}

.sep {
	height: 1px;
	background-color: lightgrey;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.sep2 {
	color: grey;
	background-color: white;
	position: relative;
	top: -0.5em;
	font-family: "Verdana", Geneva, sans-serif;
	padding: 10px;
}
